@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Wix+Madefor+Text:wght@400;500;600&display=swap');
/*
font-family: 'Archivo Black', sans-serif; * hlavní nadpisový font
font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Wix Madefor Text', sans-serif; * hlavní dopňkový font
*/
* {box-sizing: border-box;}

:root {
    --white-colour: rgb(241, 241, 241);
    --button-colour: rgba(0, 0, 0, 0.8);
    --light-blue-colour: rgb(1,174,240);
    --dark-blue-colour: rgb(14,116,188);
    --red-colour: rgb(242,12,0);
}

/* FADE EFEKT */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    z-index: 9999;
  }
  
  .content {
    text-align: center;
  }
  
  .fade-out {
    opacity: 0;
  }

  .mainfont {
    font-family: 'Archivo Black', sans-serif !important;
    font-size: 150px;
  }
  
  .smol {
    font-size: 20px;
  }

  .uvod1 {
    position: relative;
    font-family: 'Wix Madefor Text', sans-serif;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-warning {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
  }
  
  .text-warning p {
    margin: 10px 0;
  }
  
  .main {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .author-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    top: 119%;
  }
  


/* ------ NAVIGACE ------ */
.divnav {
    grid-template-columns: repeat(12, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    display: grid;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". logo mt mt mt mt mt mt . mi mi ."
    ". line line line line line line line line line line ."
    ;
}

/* Definování částí v gridu */
.logo {
    grid-area: logo;
    width: 160px;
}

.menu-text {
    grid-area: mt;
}

.menu-ikony {
    grid-area: mi;
}

.line {
    grid-area: line;
    border-top: 2px solid white;
}

/* Definování stylů prvků */
.menu-text li {
    font-family: 'Wix Madefor Text', sans-serif;
    text-decoration: none;
    display: inline-block;
    color: var(--white-colour);
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

.menu-text a {
    text-decoration: none;
    color: var(--white-colour);
}

.menu-ikony {
    display: flex;
    color: var(--white-colour);
    align-items: center;
    font-size: 25px;
    padding-left: 80px;
    cursor: pointer;
    position: relative;
}
/* Nastavení barevných proužků pod ikonami */
.user-icon,
.cart-icon,
.search-icon {
    position: relative;
}
.user-icon::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 20%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--light-blue-colour);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.cart-icon::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 20%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--dark-blue-colour);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.search-icon::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 20%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--red-colour);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.user-icon:hover::after,
.cart-icon:hover::after,
.search-icon:hover::after {
    opacity: 1;
}

.menu-ikony a {
    color: var(--white-colour);
    text-decoration: none;
}

.user-icon, .cart-icon, .search-icon {
    padding-right: 40px;
}


/* ------ MAIN ------ */
.divmain {
    grid-template-columns: repeat(12, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    display: grid;
    grid-template-areas: 
    ". mt mt mt mt . . . . . . ."
    ". st st st st . . . . . . ."
    ". . . . . . . . . . . ."
    ;
}

/* Definování částí v gridu */ 
.maintext {
    grid-area: mt;
}

.secondtext {
    grid-area: st;
}

/* Definování stylů prvků */
.maintext {
    font-family: 'Wix Madefor Text', sans-serif;
    color: var(--white-colour);
    font-size: 100px;
    align-self: start !important;
    padding-top: 20px;
    padding-left: 0px;
}

b {
    font-family: 'Archivo Black', sans-serif;
}

.secondtext {
    font-family: 'Wix Madefor Text', sans-serif;
    color: var(--white-colour);
    align-self: start;
    font-size: 23px;
    padding-top: 20px;
}

/* ------ BUTTON ------ */
.divbutton {
    grid-template-columns: repeat(12, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    display: grid;
    grid-template-areas: 
    ". bt bt bt . . . . . . . ."
    ". bt bt bt . . . . . . . ."
    ;
}
/* Definování částí v gridu */
.button {
    grid-area: bt;
    padding-top: 30px;
}

/* Definování stylů prvků */
button {
    height: 90px;
    width: 300px;
    border-radius: 15px;
    border: none;
    outline: 1px solid var(--white-colour);
    background: var(--button-colour);
    color: var(--white-colour);
    font-size: 35px;
    font-family: 'Wix Madefor Text', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}

button:hover {
    background: linear-gradient(90deg, #01AEF0, #0E74BC, #F20C00, #0E74BC);
    z-index: 1;
    animation: glow 10s linear infinite;
    background-size: 800%;
}

button:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

button:hover:before {
    opacity: 1;
    z-index: -1;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100%{
        background-position: 200%;
    }
}

/* ------ POPIS ------ */
.divspecs {
    grid-template-columns: repeat(12, 0.5fr);
    grid-template-rows: repeat(8, 1fr);
    display: grid;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". c c v v p p . . . . ."
    ". c c v v p p . . . . ."
    ". . . . . . . . . . . ."
    ;
}

.cena {
    grid-area: c;
}
.vykon {
    grid-area: v;
}
.pohon {
    grid-area: p;
}

/* Designování stylů prvků */
.divspecs {
    font-size: 35px;
    color: var(--white-colour);
    font-family: 'Wix Madefor Text', sans-serif;
}

c {
    font-size: 23px;
    font-family: 'Wix Madefor Text', sans-serif;

}

